html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/*For Mobile*/
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    display: block;
    color: #343434;
}
nav{
    height: 280px;
    overflow: hidden;
    transition-duration: 0.4s;
}
nav img{
    width: 120px;
    height: 100px;
    border-radius: 10px;
}
.collage{
    display: grid;
    width: auto;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-evenly;
    align-content: space-around;
    transform: skewY(-7deg);
}
header{
    margin: 2rem 0 6rem 0;
    word-wrap: break-word;
}
header p{
    padding-left: 0;
    line-height: 21px;
    font-size: 14px;
    font-weight: 500;
}
h1{
    font-size: 24px;
    line-height: 22.5px;
    font-weight: 600;
    margin-bottom: 5px;
}
form{
    padding: 0 1rem;
}
.animate{
    animation: animate 2s linear -1s;
}
@keyframes animate {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0);
    }
}

form p{
    color: #7b8389;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 1.2rem;
    padding-left: 0rem;
}
#bigger{
    font-size: 14px;
}
#fill{
    border-bottom: 1px solid grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
input{
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 7px;
    border: none;
    border-radius: 5px;
    width: 100%;
    line-height: 45px;
}
::placeholder{
    font-size: 23px;
    font-weight: 600;
}
form [class*="fa-solid"]{
    color: rgb(13, 153, 13);
    border: none;
}
form ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}
form img {
    background: #f0f6fe;
    border-radius: 50%;
    height: 46px;
    width: 46px;
}
form li a{
    align-items: center;
    color: #24272e;
    display: inline-flex;
    padding-bottom: 15px;
    padding-right: 45px;
}
.socialword{
    margin-left: 15px;
}
 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: rgb(31, 31, 197);
}
/*Mobile view*/
@media only screen and (max-width:600px){
    aside{
        display: none;
    }
    figure{
        display: none;
    }
    header{
        text-align: center;
    }
    button{
        display: none;
    }
    ul{
        padding-bottom: 3rem;
    }
}
/*For desktop*/
@media only screen and (min-width: 610px){
    body{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        height: 100%;
        width: 100%;
        color: #343434;
    }
    nav{
        display: none;
    }
    .wrapper{
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto;
        height: 100%;
        padding: 0;
    }
    figure{
        flex-basis: 10%;
        color: rgb(194, 43, 194);
        font-size: 2rem;
        margin: 0;
        padding: 1rem 0 0 1rem;
    }
    #fill{
        width: 80%;
        margin-bottom: 1rem;
    }
    section{
        flex-basis: 60%;
        padding-left: 0;
        line-height: 1.5;
    }
    header p{
        width: 480px;
    }
    form{
        padding: 0;
    }
    form [class*="fa-solid"]{
        display: none;
    }
    aside{
        position: relative;
        overflow: auto;
        max-width: 420px;
        min-width: 300px;
        background-color: #f7f9fa;
        border-left: 1px solid #e5e9ed;
        padding: 0;
        margin: 0;
        flex-basis:30%;
    }
    .styleaside{
        position: relative;
        min-height: 100%;
        display: flex;
        overflow: hidden;
    }
    aside img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 80%;
    }
    .img-responsive{
        width: 100%;
        margin: 0;
    }
    aside h1{
        font-size: 16px;
        font-weight: bold
    }
    aside p{
        color: #575d64;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
        padding-bottom: 1.5rem;
    }
    .text{
        position: relative;
        display: block;
        z-index: 10;
        align-self: flex-end;
        padding-left: 15px;
        padding-right: 30px;
        animation: text 2s linear -1s reverse;
    }
    .text h1, p{
        margin: 0;
        padding: 0 1rem 0 1rem;
    }
    aside ::after{
        background: linear-gradient(0deg,#f7f9fa,#f7f9fa00),linear-gradient(0deg,#f7f9fa,#f7f9fa00);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: -100px;
        z-index: -1;
    }
    @keyframes text {
        from{bottom:0px;}
        to{bottom: 100px;}
    }
    button{
        background-color: rgb(8, 161, 8);
        padding: 1rem;
        border: none;
        font-size: 1rem;
        width: 11rem;
        display: inline-block;
        border-radius: 30px;
        margin-bottom: 5px;
        transition-duration: 0.4s;
    }
    button a{
        text-decoration: none;
        color: white;
    }
    button:hover{
        box-shadow: 0 8px 16px 0 rgb(8, 161, 8);
    }
    button a:hover{
        color: black;
    }
}